<div id="unique_id_scroll_section" class="ma-0" style="height:300px;overflow: auto;">
    <MudGrid>
        <MudItem xs="12">
            <MudText Typo="Typo.h5" Class="pa-4">
                Console
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="pa-4 ma-4">
                <MudText Typo="Typo.body1">
                    This is the Console page content.
                </MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>

</div>