.info-hover:hover {
    color: #1b6ec2;
}

/*Kods ņemts no: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.icon-btn {
    font-size: 1.5rem; 
    cursor: pointer; 
    color: #495057; 
    transition: color 0.2s;
}

    .icon-btn:hover {
        color: #0d6efd; 
    }