@page "/Pomodoro"
<h3 class="text-center">Pomodoro</h3>

<div class="container border w-50 p-2 size">
    <div>
        <p>Ievadi minūtes:</p>
        <input type="number" class="form-control mb-2"  @bind ="InputMinutes" />
        <p class="text-danger">@ErrorMessage</p>
        <p>Atlikušais laiks: @DisplayTime</p>
        <div class="d-flex justify-content-center">
            @if (!StartBtnPressed)
            {
                <button class="btn btn-primary me-2" @onclick="SetTimer">Sākt</button>
            }
            else
            {
                <button class="btn btn-secondary me-2" @onclick="ResetTimer">Pārtraukt</button>
            }

            @if (!StopBtnPressed)
            {
                <button class="btn me-2 btn-danger" @onclick="StopTimer">Pauzēt</button>

            }
            else
            {
            <button class="btn btn-primary me-2" @onclick="ContinueTimer">Turpināt</button>
            }
        </div>
    </div>
</div>
