@page "/Pomodoro"
<h3 class="text-center">Pomodoro</h3>

<div class="container border p-2">
    @if (!StartBtnPressed)
    {
        <p class="text-danger">@ErrorMessage</p>

        <label>Sesijas ilgums:</label>
        <input type="number" class="form-control mb-2"  @bind ="InputMinutes" />
       
            <div class="d-flex align-items-baseline  gap-2">
                <div class="flex-fill">
                    <label>īsā pauze:</label>
                    <input type="number"class="form-control"  @bind="InputPauseMinutes" />
                </div>
                <div class="flex-fill">
                    <label>Garās pauze:</label>
                    <input type="number" class="form-control"   @bind="InputLongPauseMinutes" />
                </div>
                <div class="flex-fill">
                    <label>Sesijas:</label>
                    <input type="number" class="form-control"  @bind="InputSessionAmount" />
                </div>
                    
            </div>
            <label >Garās pauzes intervāls 
                <i data-toggle="tooltip" title="Sesija pēc kuras būs garā pauze" class="bi bi-info-circle info-hover"></i>

            </label>
            <input type="number" class="form-control mb-2"  @bind="InputSessionLongPause" />
    }
    else 
         {
            @if(IsPause)
            {
                <p>Pauzes laiks (～￣▽￣)～</p>
            }   
                <p>Sesija @CurrSession/@InputSessionAmount</p>
                <p>Atlikušais laiks: @DisplayTime</p>
         }


    <div class="d-flex justify-content-center gap-1 mx-auto flex-nowrap ">
            @if (!StartBtnPressed) 
            {
            <button class="btn btn-primary" @onclick="SetTimer">Sākt</button>
             }
            else
            {
                @if (IsPause)
                    {
                <i @onclick="SkipPause" class="bi bi-skip-end-circle-fill icon-btn"></i>

                    }
                <button class="btn btn-secondary" @onclick="ResetTimer">Pārtraukt</button>
                @if (!StopBtnPressed)
                    {
                <button class="btn btn-danger" @onclick="PauseTimer"><i class="bi bi-pause-fill"></i></button>

                    }
                else
                    {
                <button class="btn btn-success " @onclick="ContinueTimer"><i class="bi bi-play-fill"></i></button>
                    }
                <div class="d-flex flex-nowrap align-items-center gap-2">
                <i @onclick="() => AdjustTime(false)" class="bi bi-dash-circle-fill icon-btn"></i>
                <input type="number" class="form-control form-control-sm w-25" @bind="AdjustedMin" />
                <i @onclick="() => AdjustTime(true)" class="bi bi-plus-circle-fill icon-btn"></i>

                </div>
             }

          
        </div>
</div>
