@page "/ToDo"
@rendermode InteractiveServer

 <MudPaper Class="mt-2 pa-3 d-inline-block">
        <MudContainer>
    <MudText Typo="Typo.h5" Align="Align.Center">To-Do</MudText>

    @foreach (var item in Items)
    {
        <MudStack Direction="Row">
            <div class="d-flex flex-grow-1 gap-4">
                    <MudCheckBox  Class="flex-initial" @bind-Value="item.IsCompleted" Color="Color.Primary"></MudCheckBox>
                    <MudTextField  Class="flex-1" @bind-Value="item.Title" ReadOnly="true" Margin="Margin.Dense" Variant="Variant.Outlined" />
            </div>
            
        </MudStack>
     
    }

    <MudStack  Direction="Column" Spacing="1" >
            <MudTextField @bind-Value="newTaskTitle" Label="Nosaukums" @onclick="ToggleExpanded" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudTextField @bind-Value="newTaskDescription" Label="Apraksts" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        @if (expanded)
        {
            <MudTextField @bind-Value="newTaskDescription" Label="Apraksts" Variant="Variant.Text"></MudTextField>
            <MudStack AlignItems=AlignItems.Center>
                    <MudDatePicker @bind-Date="newTaskDate" Label="Datums" DisableToolbar="false" />
                    <MudTimePicker @bind-Time="newTaskTime" Label="Laiks" />
                    <MudText>Grūtības pakāpe:</MudText>
                    <MudRating SelectedValue="1" MaxValue="3"
                               FullIcon="@Icons.Material.Filled.Square"
                               EmptyIcon="@Icons.Material.Filled.Square"
                               FullIconColor="Color.Primary"
                               EmptyIconColor="Color.Default"
                               @bind-Value="newTaskEffort" />
                <MudIconButton Icon="@Icons.Material.Filled.AddCircle" Size="Size.Large" @onclick="AddOrUpdateTask"></MudIconButton>


            </MudStack>
         
        }

    </MudStack>

    </MudContainer>

</MudPaper>
